{% extends "blogs/base.html" %}
{% load static %}
{% block header %}
<h3>动态:</h3>
{% endblock header %}

{% block content %}
<div>
{% for theme in themes %}
  <h3>
  <li>
    <a href="{% url 'blogs:theme' theme.owner.id theme.id %}">{{theme}}</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="{% url 'users:userinfo' theme.owner.id %}">{{theme.owner}}</a>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{theme.date_added|date:'m-d H:i'}}
  </li>
  </h3>
{% endfor %}
</div>


{% endblock content %}