{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang='en'>
  
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no'>
	
  <title>my favorite words</title>
	
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

<body><!-- Static navbar -->
  <nav class='navbar navbar-default navbar-static-top'>
    <div class='container'>
	  <div class='navbar-header'> 
		<button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded= 'false' aria-controls='navbar'>
		</button>
	    <a class='navbar-brand' href="{% url 'blogs:index' %}"><!-- <img src="{% static 'images/index.jpg' %}"/> -->seLzzf</a>
		
	  </div>
	  
	  <div id='navbar' class='navbar-collapse collapse'>
	    <ul class='nav navbar-nav'>
		  <li><a href="{% url 'blogs:themes' page_user.id %}">分享主题/读书笔记</a></li>
		  {% if user == page_user %}
		  <li><a href="{% url 'action:action' user.id %}">我的关注</a></li>
		  {% endif %}
		  <li><a href="">相册</a></li>
		  <li><a href="{% url 'message:message' page_user.id %}">留言板</a></li>
		  <li><a href="{% url 'blogs:test' %}">test</a></li>
		  <li class='search'> 
		    <form method='post' action="{% url 'blogs:search' %}">
			{% csrf_token %}
		    <input name='search' type='search' placeholder='搜索关键字'>
		    <input type='submit' value='搜索'>
		    </form>
		  </li>
		</ul>
		<ul class='nav navbar-nav navbar-right'>
		  {% if user.is_authenticated %}
			<li><a href="{% url 'users:userinfo' user.id %}">Hello,{{ user.username }}.</a></li>
			<li><a href="{% url 'users:userinfo' user.id %}">我的消息</a></li>
			<li><img src="{{ userinfo.pic.url }}" alt='pic' height="40" width="40"/></li>
			<li><a href="{% url 'users:logout' %}">退出</a></li>
		  {% endif %}
		</ul>
	  </div><!--/.nav-collapse --> 
	</div>  
  </nav>
  <div class='container'>
    <div class='page-header'>
      {% block header %}{% endblock header %}
    </div>
    <div>
      {% block content %}{% endblock content %}
	</div>
  </div><!-- /container --> 
</body>

</html>
