{% extends "blogs/base.html" %}
{% load static %}
{% block header %}
  <h3>随便看看:</h3>
{% endblock header %}

{% block content %}

<div><h3>
  <table class='table table-hover table-striped'>
    <thead>
	  <tr>
	    <th>文章</th>
		<th>用户</th>
		<th>浏览<a href="?sort=views">↓</a></th>
		<th>发表日期<a href="?sort=date_added">↓</a></th>
	  </tr>
	</thead>
	<tbody>
	  {% for theme in themes %}
	  <tr>
		<td>
		  <a href="{% url 'blogs:theme' theme.owner.id theme.id %}">{{theme.title}}</a>
		</td>
		<td>
		  <a href="{% url 'users:userinfo' theme.owner.id %}">{{theme.owner}}</a>
		</td>
		<td>
		  <img src="{% static 'images/views.jpg' %}"/>{{theme.views}}
		</td>
		<td>{{theme.date_added|date:'m-d'}}</td>
	  </tr>
	  {% empty %}
	    <h3>服务器好像出错了,请刷新重试或诊断网络</h3>
	  {% endfor %}
	</tbody>
</h3></div>

  {% if page_user == user %}
  <h3>
    <a href="{% url 'blogs:new_theme' %}">添加主题</a>
  </h3>
  {% endif %}
</div>  
{% endblock content %}